{% extends 'base.html' %}
{% block content %}

  <h1>Open Tickets</h1> 
  {% if open_tickets %}
    <table>
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Title</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Assigned To</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in open_tickets %}
          <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.created_at }}</td>
            <td>
              <a href="{% url 'view_ticket' ticket.id %}">View Details</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No open tickets found for your company.</p>
  {% endif %}


{% endblock %}