{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard | Ticketing System{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h1>Welcome, {{ user.get_full_name }}</h1>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Open Tickets</h5>
                </div>
                <div class="card-body">
                    <h2 class="display-4">{{open_ticket_count}}</h2>
                    <a href="{%url 'open_tickets'%}" class="btn btn-primary">View Tickets</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Closed Tickets</h5>
                </div>
                <div class="card-body">
                    <h2 class="display-4">{{closed_ticket_count}}</h2>
                    <a href="{%url 'closed_tickets'%}" class="btn btn-primary">View Closed</a>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>
{% endblock %}